<div class="cart">
    <h2 appChangeColor="red">My Shopping Cart:</h2>

    <!-- <ng-container *ngIf="shoppingCart.length === 0">
        No items in cart (yet...)
    </ng-container> -->

    <!-- <div class="item" *ngFor="let item of shoppingCart; let i = index">
        <app-item [item] = "item" [isInCart]="isInCart(item)" (removeFromCart)="removeFromCart($event)"></app-item>
    </div> -->

    <app-cart></app-cart>

</div>

<hr>

<div class="feed">
    <h2>All Items Feed:</h2>
    <div class="item" *ngFor="let item of items; let i = index">
        <app-item [item]="item" [isInCart]="isInCart(item)" (addToCart)="addToCart($event)" (removeFromCart)="removeFromCart($event)"></app-item>
    </div>
</div>